<div class="card">
    <img src="../../../assets/Images/layouts/post-card/1.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - 100,256</small>

        <h5 class="mt-1">How to start a blog in 2023 edited new category</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis iure distinctio, deleniti dolor assumenda provident rerum eligendi ipsam ipsa inventore error id explicabo eaque cum impedit quia officiis ex pariatur?</p>
        <small class="bg-light text-warning text-center ml-3">Last updated - sep 20, 2023</small>

    </div>
</div>