@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Laboratorul 5</h1>
</div>
<hr />
<div >
    <h2><a asp-controller="Matrice" asp-action="Index">Sarcina 1</a></h2>
    <p> Elaborați o aplicație web ASP.NET MVC, care va prelua dintr-un formular a unei vederi dimensiunile unei matrice bidimensionale, va genera în mod aleator elementele acestei matrici și va afișa în altă vedere această matrice, în care vor fi stilizate celulele ce conțin elementele maximale și minimale din matricea dată.</p>
    <p>Elaborați o aplicație web ASP.NET MVC, care va prelua dintr-un formular a unei vederi dimensiunile unei matrice bidimensionale, va genera în mod aleator elementele acestei matrici și va afișa în altă vedere această matrice, în care vor fi stilizate celulele de pe diagonala prinicpală și ce secundară din matricea dată.</p>
</div>
