<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-card">
                <img src="../../../assets/Images/layouts/post-card/6.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center me-2">Design</small>
                    <small class="bg-light text-success text-center me-2">Featured</small>
                    <small class="bg-light text-info text-center me-2">Views - 100,256</small>
                    <small class="bg-light text-warning text-center me-2">Last updated - sep 20, 2021</small>

                    <h1 class="mt-3 mb-3">How to start a blog in 2021 edited new category</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit eum nesciunt magnam cumque harum a debitis nihil laboriosam odio, quas molestias doloremque accusantium officia assumenda laudantium labore commodi fuga quam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia deserunt, sed a debitis vitae eveniet, alias blanditiis nulla sunt aspernatur excepturi, officia impedit quo consequuntur consequatur exercitationem iusto atque vel.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia deserunt, sed a debitis vitae eveniet, alias blanditiis nulla sunt aspernatur excepturi, officia impedit quo consequuntur consequatur exercitationem iusto atque vel.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia deserunt, sed a debitis vitae eveniet, alias blanditiis nulla sunt aspernatur excepturi, officia impedit quo consequuntur consequatur exercitationem iusto atque vel.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod atque delectus quibusdam iure illo doloremque non similique repudiandae minima deleniti quasi, ullam reprehenderit ratione nihil aliquam alias? Eligendi, pariatur quo?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, sit excepturi quos quia ab blanditiis pariatur enim optio maiores dolores necessitatibus tempore laboriosam repudiandae accusamus iste autem molestias minima natus!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus odio aliquam iure non nesciunt magni ipsa, commodi ducimus aperiam in illo delectus omnis modi reiciendis doloribus sequi, vel fugiat dolorem?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus odio aliquam iure non nesciunt magni ipsa, commodi ducimus aperiam in illo delectus omnis modi reiciendis doloribus sequi, vel fugiat dolorem?
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <div class="mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="mb-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</div>