<div class="hero-section">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 ps-5">
            <nav class="navbar navbar-expand-lg navbar-light my-3">
                <a class="logo mx-3" href="#">
                    <img  src="../../../assets/Images/layouts/header-main-page/logo.png" alt="logo">
                </a>
                <div class="collapse navbar-collapse menu">
                    <ul class="navbar-nav mx-5">
                        <li class="nav-item mx-3 my-4 d-flex">
                            <a class="nav-link" href="../../pages/about-us/">About
                            <i class="bi bi-person-check-fill m-2"></i></a>
                        </li>
                        <li class="nav-item mx-3 my-4 d-flex">
                            <a class="nav-link" href="../../pages/terms-and-condition/">Terms and conditions
                            <i class="bi bi-check-circle-fill m-2"></i></a>
                        </li>
                        <li class="nav-item mx-3 my-4 d-flex">
                            <a class="nav-link" href="../../pages/contact-us/">Contact
                            <i class="bi bi-envelope-check-fill m-2"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hero-moon mt-5">
                <img src="../../../assets/Images/layouts/header-main-page/full-moon.png" alt="full-moon">
            </div>
            <div class="row text-moon mx-3">
                <div class="col-lg-1">01</div>
                <div class="col-lg-2"><hr></div>
                <div class="col-lg-1">03</div>
            </div>
            <div class="text mx-3">
                <br>
                <br>
                <h1>Best way <br>to organize <br>your work</h1>
                <p>Organize your tasks, lists and reminders in one app</p>
            </div>
            <div class="d-flex mx-3">
                <button class="about-btn">Learn about us</button>
                <button class="try-btn">Try it now</button>
            </div>
        </div>
        <div class="col-lg-5 girl-section my-5">
            <div class="sign-up-btn my-2 mx-2">
                <button>Sign up</button>
            </div>
            <div class="hero-image">
                <img src="../../../assets/Images/layouts/header-main-page/girl.png" alt="girl">
            </div>
        </div>
    </div>
</div>