@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laboratorul 3: Controller</h1>
    <hr />
    <a asp-controller="Home" asp-action="Dreptunghi">Dreptunghi</a>
    <a asp-controller="Triunghi" asp-action="Triunghi">Triunghi</a>
</div>
