<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success" routerLink="/add">New Product</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <p>No Available Products</p>
       <!-- <a *ngFor="let recipeEl pf recipes;"
        style="cursor: pointer;"
        routerLinkActive="active"
        class="list-group-item clearfix">
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{product.name}}</h4>
            <p class="list-group-item-text">{{product.description}}</p>
            <p class="list-gropu-item-text">{{product.price}}</p>
        </div>
        <span class="pull-right">
            <button type="button" class="btn btn-danger">Delete</button>
        </span>
    </a>-->
    </div>
</div>