@model Sir

<h2>Numarul de vocale: @Model.nrVocale()</h2>
<h2>Numarul de consoane: @Model.nrConsone()</h2>
<h2>Numarul de cifre: @Model.nrCifre()</h2>
<h2>Numarul de semne speciale: @Model.nrSemneSpeciale()</h2>